body {
    background-image: url(images/menu_bg.jpg);
}

.nav-logo {
    font-family: "Monaco";
    font-size: 30px;
}

.nav-search {
    height: 3rem;
    margin: auto;
    padding: auto;
}

#nav-search-btn {
    font-size: 1.5rem;
}


.container {
    background-color: rgb(252, 240, 196);
}

h1 {
    font-family: "Monaco";
    font-size: 80px;
}

.alert {
    background-color: rgba(213, 249, 213, 0.816);
}

#menu-items {
    padding: 24px;
}

.menu-img {
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    padding-bottom: 12px;
}

.card-title {
    font-family: "Monaco";
    font-size: 36px;
}

.card {
    background-color: rgb(245, 238, 205);
    border-radius: 12px;
    border: solid rgb(148, 112, 87);
    height: 550px;
    width: 400px;
}

.price {
    font-size: 32px;
    font-family: "Monaco";
}

.badge {
    background-color: rgb(247, 182, 42);
    border-radius: 12px;
}

.btn {
    background-color: rgb(74, 105, 89);
    color: white;
    font-size: 32px;
    font-family: "Monaco";
    border-radius: 12px;
    margin: 15px;
}

label {
    padding-bottom: 15px;
}

