body {
    background-image: url(../images/menu_bg.jpg);
}

.nav-logo {
    font-family: "Monaco";
    font-size: 30px;
}

.nav-search {
    height: 3rem;
    margin: auto;
}

#nav-search-btn {
    font-size: 1.5rem;
    margin: .5rem;
}

.menu-new {
    border-radius: 12px;
    margin: 2% auto;
}

.logo {
    width: 30vw;
    margin: auto;
}

.header, .buttons {
    background-color: rgb(252, 240, 196);
    padding: 1%;
    width: 96%;
    border-radius: 12px;
    margin: 1vh auto;
    border: solid rgb(148, 112, 87);
}

.new-menu-header {
    width: 96%;
    border-radius: 12px;
    margin: 1vh auto;
    background-color: rgb(74, 105, 89);
    border: solid rgb(252, 240, 196);
    color: white;
    padding: 3vh;
}

.menu-new-box {
    background-color: rgb(148, 112, 87) ;
    padding: .25em;
    border-radius: 12px;
    font-size: max(32px, 4vw);
    border: solid rgb(71, 31, 2);
    margin: 1vw auto;
    width: 100%
}

.container {
    background-color: rgb(252, 240, 196);
    padding: 1%;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: max(32px, 6vw);
}

.menu-items h1 {
    color: rgb(252, 240, 196);
    background-color: rgb(71, 31, 2);
    font-size: max(32px, 4vw);
    margin-top: 0;
}

.menu-items {
    background-color: rgb(148, 112, 87);
    margin: 2vw;
    border: 3px solid rgb(71, 31, 2);
    padding-bottom: 5vh;
    padding-top: 0px;
    border-radius: 12px;
}

.alert {
    background-color: rgba(213, 249, 213, 0.816);
}

.menu-items {
    padding: 1vw;
}

.menu-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    object-position: center;
    padding: .3em;
}

.card-title {
    font-family: "Playfair Display", serif;
    font-size: max(24px, 2.1vw);
    
}

.card {
    background-color: rgb(245, 238, 205);
    border-radius: 12px;
    border: solid rgb(148, 112, 87);
    height: 20px;
    width: 100%;
    padding: 0px;
    object-position: center;
    max-width: 440px;
    margin: 0 auto;
}


.price {
    font-size: max(24px, 2.5vw);
    font-family: "Playfair Display", serif;
    padding-top: .2em;
    padding-bottom: .05em;
}

.badge {
    background-color: rgb(247, 182, 42);
    border-radius: 12px;
}

.btn {
    background-color: rgb(74, 105, 89);
    color: white;
    font-size: max(24px, 2.5vw);
    font-family: "Playfair Display", serif;
    border-radius: 12px;
    margin: 2%;
    border-color: rgb(71, 31, 2);
}

label {
    padding-bottom: 15px;
}

