body {
    background-color: rgb(37, 54, 45);
}

.container {
    background-color: rgb(71, 31, 2);
}

.header {
    position: relative;
}

.res-img {
    height: 70vh;
    object-fit: cover;
}

.header-top {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.header-top h1 {
    background-color: rgba(50, 24, 5, 0.882);
    margin-top: 3vh;
    width: 100vw;
}

.info {
    color: rgb(235, 230, 216);
    padding: 1vw 2vw;
    font-size: clamp(14px, 2vw, 18px);
}

form {
    padding: 1% 3%;
}

h2 {
    color: rgb(245, 238, 205);
    border-bottom: solid 3px rgb(116, 80, 52);
    padding-bottom: .2em;
    margin: auto 10%;
}

h3 {
    color: rgb(245, 238, 205);
    border-bottom: solid 2px rgb(116, 80, 52);
    padding-bottom: .5em;
}

label {
    color: rgb(235, 230, 216);
}

.form-text {
    color: rgb(179, 174, 160);
}



