.header {
    position: relative;
}

.res-img {
    height: 70vh;
    object-fit: cover;
}

.header-top {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-top h1 {
    background-color: rgba(50, 24, 5, 0.882);
    margin-top: 3vh;
    width: 100vw;
}



