body {
    background-color: rgb(71, 31, 2);
    font-family: "Open Sans", Arial, sans-serif;
}

.nav-logo {
    font-family: "Playfair Display", serif;
    font-size: 30px;
}

.nav-search {
    height: 3rem;
    margin: auto;
    box-shadow: 1px 1px 3px rgb(128, 120, 114);
}

#nav-search-btn {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar {
    background-color: rgb(245, 238, 205);
    box-shadow: 1px 2px 4px rgb(63, 62, 62);
}

h1 {
    font-family: "Playfair Display", serif;
    color: rgb(245, 238, 205);
    text-shadow: 1px 1px 3px black;
    font-size: max(34px, 6.5vw);
}

h2 {
    font-family: "Playfair Display", serif;
    color: rgb(71, 31, 2);
    text-shadow: 1px 1px 2em rgb(71, 31, 2);
    font-size: max(32px, 5vw);
}

h3 {
    font-family: "Playfair Display", serif;
    padding-top: 1em;
}

.logo {
    width: 30vw;
    margin: auto;
}

.container {
    background-color: rgb(245, 238, 205);
}

.alert {
    background-color: rgba(234, 246, 178, 0.862);
    border-radius: 0px;
    width: 100vw;
}

.badge {
    background-color: rgb(247, 182, 42);
    border-radius: 12px;
}

.btn {
    background-color: rgb(74, 105, 89);
    color: white;
    font-size: max(24px, 2.5vw);
    font-family: "Playfair Display", serif;
    border-radius: 10px;
    margin: 15px;
    border-color: rgb(71, 31, 2);
    box-shadow: 1px 1px 3px rgb(48, 39, 33);
    --bs-btn-active-bg: rgb(37, 54, 45);
    --bs-btn-active-color: rgb(245, 238, 205);
    --bs-btn-active-border-color: rgb(71, 31, 2);
}

.btn:hover, .btn:focus, .btn:focus-visible {
    background-color: rgb(55, 80, 67);
    color: rgb(245, 238, 205);
    border-color: rgb(71, 31, 2);
    box-shadow: 1px 1px 3px rgb(48, 39, 33);
}