.nav-logo {
    font-family: "Monaco";
    font-size: 30px;
}

.nav-search {
    height: 3rem;
    margin: auto;
}

#nav-search-btn {
    font-size: 1.5rem;
    margin: .5rem;
}

header {
    padding: 3%;
    background-image: url(../images/home-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.light {
    background-color: rgb(252, 240, 196);
    margin-bottom: 0px;
    padding: 3vh 3vw;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: max(16px, 1.5vw);;
}

.light h2 {
    font-family: "Playfair Display", serif;
    font-size: max(24px, 5vw);;
    color: rgb(71, 31, 2);
}

.dark {
    background-color: rgb(71, 31, 2);
    color: white;
    padding: 3vh 3vw;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: max(16px, 1.5vw);;
}

.dark h2 {
    font-family: "Playfair Display", serif;
    font-size: max(24px, 5vw);;
    color: rgb(252, 240, 196);
}

.med {
    background-color: rgb(148, 112, 87);
    margin-bottom: 0px;
    padding: 3vh 3vw;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: max(16px, 2vw);;
    color: aliceblue;
}

.menu {
    height: 80vh;
    width: 30vw;
    object-fit: cover;
    object-position: center;
    margin: 2vh auto;
}

.med h2 {
    font-family: "Playfair Display", serif;
    font-size: max(24px, 5vw);;
    color: rgb(71, 31, 2);
}

.logo {
    width: 30vw;
    margin: auto;
    padding-bottom: 3vh;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: max(32px, 6.5vw);
    background-color: rgb(148, 112, 87);
    border: solid 2px rgb(71, 31, 2);
    border-radius: 12px;
    color: white;
}

.pics {
    padding: 2vw;
}

.food-border {
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    margin: 0px;
    object-position: center;
}

.badge {
    background-color: rgb(247, 182, 42);
    border-radius: 12px;
}

.btn {
    background-color: rgb(74, 105, 89);
    color: white;
    font-size: max(24px, 2.5vw);
    font-family: "Monaco";
    border-radius: 12px;
    margin: 15px;
    border-color: rgb(71, 31, 2);
}

label {
    padding-bottom: 15px;
}

